#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class
*.jar

# Maven
target/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# JDT-specific (Eclipse Java Development Tools)     
.classpath
.jar

# OS
.DS_Store

# JDT-specific (Eclipse Java Development Tools)     
.classpath
.settings

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
